#root {
  width: 100%;
}

.ant-layout.ant-layout-has-sider {
  width: 100vw;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.h-8 {
  height: 8px;
}

.h-16 {
  height: 16px;
}

.h-24 {
  height: 24px;
}

.h-32 {
  height: 32px;
}

.h-48 {
  height: 48px;
}

.h-64 {
  height: 64px;
}

.h-72 {
  height: 72px;
}

.h-96 {
  height: 96px;
}
.single-liner {

  /* Spacing between letters */
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) if text overflows */
}

.double-liner {

  /* Spacing between letters */
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) if text overflows */
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.logo-vertical {
  display: flex;
  width: 100%;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 24px;
  margin-bottom: 32px;
}

.shadow-1 {
  box-shadow: 1px 1px 12px #0415291a;
}

.dashboard-card {

  margin-bottom: 16px;

  .stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    .value {
      font-size: 32px;
      font-weight: 800;
    }

    svg {
      font-size: 32px;
      font-weight: 800;
      color: #1777ff;
    }

  }

  .stats-label {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
  }

}

.label-value-pair {
  display: flex;

  .label {
    width: 45%;
    font-weight: 800;
  }

  .value {
    width: 55%;
    font-weight: 500;
  }

  .status {
    border: 2px solid #b3b3b3;
    border-radius: 24px;
    padding: 4px 10px;
    line-height: 1;
    margin: 6px 0;
    font-weight: 500;
    font-size: 14px;
    color: #626262;
  }
}

.document-details {
  .label-value-pair {
    display: flex;

    .label {
      width: 40%;
      font-weight: 800;
    }

    .value {
      width: 60%;
      font-weight: 500;
    }

    .status {
      border: 2px solid #b3b3b3;
      border-radius: 24px;
      padding: 4px 10px;
      line-height: 1;
      margin: 6px 0;
      font-weight: 500;
      font-size: 14px;
      color: #626262;
    }
  }
}

.doc-label {
  font-weight: 800;
}

.doc-action-button {
  height: 100%;
  border: 1px solid transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ant-btn-variant-solid {
  background: linear-gradient(180deg, #1677ff, #0052c4);
}

.doc-user svg {
  fill: #1677ff;
  color: #1677ff;
}

.tabs-card {
  padding: 0px 24px;
  text-align: left;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;

  .ant-tabs-nav {
    margin-bottom: 0;
    font-weight: 600 !important;
  }

}

.ant-btn span {
  font-weight: 600 !important;
}

.ant-modal-body {
  background-color: #f5f5f5;
  margin: 12px -24px;
  padding: 36px !important;
}

.ant-modal-title {
  font-size: 24px !important;
  font-weight: 800 !important;
}

.brand-address {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  color: #293c88;
  margin-top: 8px;
}

.ant-modal-card-title {
  font-size: 24px !important;
  font-weight: 800 !important;
}

.doc-number-status-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 12px;

  .number {
    font-size: 24px !important;
    font-weight: 800 !important;
  }
}

.timeline-dot-wrapper {
  box-shadow: 2px 2px 8px #000000ac;
  border: 3px solid #ffffff;
  border-radius: 100px;
  padding: 5px;

  &.color-blue {
    background-color: #0052c4;
  }

  &.color-orange {
    background-color: #ff7300;
  }

  &.color-green {
    background-color: #539c00;
  }

  &.color-grey {
    background-color: #5d5d5d;
  }

  svg {
    font-size: 24px;
    color: #ffffff;
  }
}

.ant-timeline .ant-timeline-item-head {
  background-color: transparent;
}

ul.ant-timeline.ant-timeline-alternate {
  width: 100%;

  .ant-timeline-item-right {

    min-height: 240px;

    .ant-timeline-item-content {
      h3 {
        margin: 0 24px 0 0;
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
      }

      h5 {
        margin: 6px 24px 0 0;
        font-size: 14px;
        font-weight: 800;
        line-height: 1;
        opacity: 0.7;
      }

      .item-content {
        margin: 6px 76px 0 0 !important;
        display: table-cell;
        /* width: 100%; */
        border: 1px solid transparent;
        float: right;


        .alink {
          color: rgb(0, 102, 255);
        }


        .more {
          position: relative;
          top: -8px;
          right: 35px;
          margin-right: -42px;
          display: inline-block;
          float: right;
          padding: 0;
          border: 1px solid transparent !important;
        }

      }

      .item-content.notes {
        display: inline-block;
        width: calc(100% - 100px);
      }
    }
  }

  .ant-timeline-item-left {

    min-height: 240px;

    .ant-timeline-item-content {
      h3 {
        margin: 0 0 0 24px;
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
      }

      h5 {
        margin: 6px 0 0 24px;
        font-size: 14px;
        font-weight: 800;
        line-height: 1;
        opacity: 0.7;
      }

      .item-content {
        margin: 6px 0 0 24px !important;
        display: table-cell;

        .alink {
          color: rgb(0, 102, 255);
        }


        .more {
          position: relative;
          top: -8px;
          right: 35px;
          margin-right: -42px;
          display: inline-block;
          float: right;
          padding: 0;
          border: 1px solid transparent !important;
        }

      }
    }
  }

}


.new-so {

  .input-wrapper {

    span.input-label {

      font-weight: 800;

    }

  }

  .summary-title {
    opacity: 0.5;
    margin-bottom: 10px;
  }

}

.mb-16px {
  margin-bottom: 16px;
}

.react-form-builder .react-form-builder-toolbar {
  margin-top: 0;
}

div.container.mt-4 {
  width: 100%;
  margin: 0;
  max-width: unset;
}

.react-form-builder .react-form-builder-preview {
  width: 100%;
  margin-top: 0 !important;
  border: 2px solid #dddddd !important;
  box-shadow: none !important;
  padding: 10px !important;
  padding-top: 16px !important;
  background: #ffffff !important;
  min-height: 1412px !important;
  height: auto !important;
}

.react-form-builder .react-form-builder-toolbar {
  width: 100%;
  background: #fff;
  margin-top: 0 !important;
  border: 2px solid #dddddd;
  box-shadow: none;
  padding-top: 16px;
}

.dashboard-card {
  margin-bottom: 16px;
  border-radius: 16px;
}

.card-rounded-shadow {
  padding: 0;
  margin-top: 0 !important;
  padding: 24px;
  text-align: left;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 12px rgba(4, 21, 41, 0.1019607843);
}

.react-form-builder-form .rfb-item label span {
  background: #fff;
  font-weight: bold;
  padding: 0 10px 0 0;
}

.react-form-builder-form .rfb-item .row {
  padding: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: -18px;
}

.form-generator-container>div {
  width: 100%;
  padding: 0 !important;
  margin: 0 16px;
}

.react-form-builder-form .rfb-item .row {
  padding: 0 0px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: -18px;
}

.react-form-builder-form .rfb-item label span {
  background: #fff;
  font-weight: bold;
  padding: 0 10px 0 0;
}

.rfb-item h3.static {
  margin-bottom: .5rem;
  font-weight: 800;
  line-height: 1.2;
  font-size: 1.25rem !important;
}

.hide-tab-contents {

  .ant-tabs-content-holder {
    display: none !important;
  }

}

button.w-100 {
  width: 100%;

  span {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.react-form-builder-form .rfb-item .row {
  padding: 0 0px !important;
  border: 1px solid transparent !important;
  border-radius: 6px;
  margin-top: -18px;
  background-color: #f3f3f3 !important;
}

.react-form-builder-form .rfb-item label span {
  background: transparent;
  font-weight: bold;
  padding: 0 10px 0 0 !important;
}

.react-form-builder-form .rfb-item .form-group .label-required {
  margin-left: 5px;
  color: #ff000000;
}

.react-form-builder-form .rfb-item.alwaysbreak {
  page-break-before: always;
  line-height: 1 !important;
  padding-bottom: 0;
}

.react-form-builder-form .rfb-item.alwaysbreak {
  page-break-before: always;
  line-height: 1 !important;
  padding-bottom: 0;
  margin-bottom: -30px !important;
  padding-top: 20px !important;
}

.ant-result .ant-result-subtitle {
  color: rgb(0, 0, 0, 0.49);
  font-size: 18px;
  line-height: 1.5714285714285714;
  text-align: center;
  font-weight: 500;
}

.ant-result .ant-result-title {
  color: rgba(0, 0, 0, 0.88);
  font-size: 24px;
  line-height: 1.3333333333333333;
  margin-block: 8px;
  text-align: center;
  font-weight: 700;
}

.ant-pro-form-login-page-logo {
  width: 190px;
  height: 70px;
  margin-inline-end: 16px;
  vertical-align: top;
}

.ant-pro-form-login-page-notice {
  display: none;
}

.ant-pro-form-login-page-container {

  .ant-input::placeholder {
    color: rgb(210 210 210 / 48%);
    user-select: none;
  }

  .anticon.anticon-mobile.prefixIcon,
  .anticon.anticon-lock.prefixIcon,
  .anticon.anticon-user.prefixIcon {
    color: white !important;

    svg {
      fill: #ffffff !important;
    }
  }

  .ant-tabs .ant-tabs-tab {
    font-size: 18px;
    font-weight: 500;
  }

  .ant-input-affix-wrapper>input.ant-input,
  .ant-input-affix-wrapper>input.ant-input,
  .ant-input-affix-wrapper>textarea.ant-input {
    font-size: inherit;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent !important;
    color: inherit;
  }

  .ant-pro-form-login-page-desc {
    margin-block-start: 12px;
    margin-block-end: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 600;
  }

  .ant-tabs {
    margin-bottom: 24px;
  }

  button.ant-btn.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-lg {
    margin-top: 32px;
    font-size: 22px;
    font-weight: 600;
    min-height: 48px;
    height: 48px;
  }

  button.ant-btn span {
    font-weight: 600 !important;
    font-size: 18px;
  }

}

.page-loader {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.no-data-wrapper{
      margin-top: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
}

h1.ant-typography,
.ant-typography-h1{
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 700;
  font-size: 26px;
  line-height: 2;
}

.ant-modal-title {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.4em;
  /* Approximate line height * number of lines */
  line-height: 1.2em;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 12px auto;

  h1.ant-typography,
    .ant-typography-h1{
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1;
    }

     .header-search-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-right: 24px;
        }

             .header-account-wrapper {
                  display: flex;
                  align-content: space-between;
                  align-items: center;
                  justify-content: space-between;
                  flex-wrap: nowrap;
                  flex-direction: row;
                  gap: 24px;
                }

}

.ant-modal-confirm.ant-modal .ant-modal-body{
  padding: 0 26px !important;
  background-color: transparent;
}

.user-account-avatar{
  border: 1px solid #777;
}

.centered-all{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}

.brand-logo {
  mix-blend-mode: multiply !important;
  height: 100px !important;
  width: auto !important;
}

.brand-address {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  color: #4f4f4f;
  margin-top: 8px;
}

.react-form-builder-form .rfb-item .row {
  border: 1px solid #eee !important;
  background-color: #f5f5f5 !important;
}

.react-form-builder-form .rfb-item label span {
  background: transparent !important;
}

.ant-card:not(.ant-card-bordered) {
  box-shadow: 1px 2px 8px #0000001a;
}

.job-card, .job-task {

  .ant-card-body {
    padding: 16px !important;
    border-radius: 0 0 8px 8px;
  }

}

.job-card:hover, .job-task:hover {

  cursor: pointer;
    box-shadow: 2px 2px 16px #0415291f !important;

}
